/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Mar, 2017, 3:54:01 PM
    Author     : Admin
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2016, 2:48:41 PM
    Author     : Giri
*/

@font-face {
    font-family: SourceSansPro;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: #0087C3;
    text-decoration: none;
}

body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: black;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    font-family: Futura;
}

header {
    padding: 0px;
    margin-bottom: 5px;
}

#logo {
    float: left;
    margin-top: 8px;
}

#logo img {
    height: 112px;
}

#company {
    float: right;
    text-align: right;
}


#details {
    margin-bottom: 0px;
}

#client {
    padding-left: 6px;
    float: left;
}

#client .to {
    color: #777777;
}

h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}

#invoice {
    float: right;
    text-align: left;
}

#invoice h1 {
    /*color: #0087C3;*/
    font-size: 2.4em;
    line-height: 1em;
    font-weight: normal;
    margin: 0  0 10px 0;
}

#invoice .date {
    font-size: 1.1em;
    color: #777777;
}

table {
    border-collapse: collapse;
    width: 98%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    /*background-color: #FF9800;*/
    color: black;
    text-align: left;
}

table tfoot td {
    padding: 0px 30px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap; 
    border-top: 1px solid #AAAAAA; 
}

table tfoot tr:first-child td {
    border-top: none; 
}

table tfoot tr td:first-child {
    border: none;
}

#thanks{
    font-size: 2em;
    margin-bottom: 50px;
}

#notices{
    padding-left: 6px;
    border-left: 6px solid #0087C3;  
    clear: both;
}

#notices .notice {
    font-size: 1.2em;
}

footer {
    color: #777777;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}
th.table{
    padding:5px;
    text-align:center;
    color: white;
}
td.table{
    padding:5px;
    text-align:center;
}

@media print {
    @page {
        size: a4;
        margin: 0mm;
        padding: 0mm;		
    }

    div.page {
        page-break-after: always;
        page-break-inside: avoid;
    }
}

div.page{	
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 15px;	
}